<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.DataCleanMapper">
	<!-- 清理ACID检测记录表 -->
    <delete id="cleanChkuplog">
    	truncate chkuplog
    </delete>
    <!-- 清理交易流水tranlist表 -->
    <delete id="cleanTranlist">
        truncate tranlist
    </delete>
    <!-- 还原网点号为1 -->
    <update id="updateBranch" parameterType="java.lang.String">
    	UPDATE branch SET branch_seq = 1
    </update>    
     <!-- 还原科目余额为0 -->
    <update id="updateSjno" parameterType="java.lang.String">
    	UPDATE sjno SET sjno_bale = 0.0
    </update>
    <!-- 还原客户余额为0 -->
     <update id="updateCustomer" parameterType="java.lang.String">
    	UPDATE customer SET customer_bale = 0.0
    </update>
    <!-- 还原正常账户余额为初始值 -->
    <update id="updateAccount" parameterType="java.lang.String">
    	UPDATE account SET account_bale = 88888888.88 WHERE account_stat = 0
    </update>
     <!-- 还原异常账户余额为初始值 -->
    <update id="updateAccountERROR" parameterType="java.lang.String">
    	UPDATE account SET account_bale = 0 WHERE account_stat = 1
    </update>
    <!-- 汇总科目余额 -->
    <update id="updateSjnoBale" parameterType="java.lang.String">
    	UPDATE sjno s, ( SELECT SUM( account_bale ) r, account_sjnoid, account_branchid FROM account GROUP BY account_sjnoid, account_branchid ) t SET s.sjno_bale = t.r WHERE s.sjno_id = t.account_sjnoid AND s.sjno_branchid = t.account_branchid 
    </update>
    <!-- 汇总客户余额 -->
    <update id="updateCustomerBale" parameterType="java.lang.String">
    	UPDATE customer c, (SELECT SUM(account_bale) r, account_custid FROM account GROUP BY account_custid) t SET c.customer_bale = t.r WHERE c.customer_id=t.account_custid
    </update>
</mapper>